* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background: #292E30;
    color: #fff;
    font-family: 'Exo', sans-serif;
}
h1, h2 {
    font-weight: 700;
    text-shadow: 0 3px 0 #1C1F21;
}
header {
    width: 100%;
    height: 60px;
    display: block;
    background: rgb(16, 19, 23);
    border-bottom: 3px solid rgb(10, 13, 16);
}
.center-text {
    padding:10px;
    width:100%;
    text-align:center;
    font-size: 34pt;
}
.header-callout {
    margin-top: 30px;
}
input[type="text"], input[type="password"] {
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid rgba(21, 21, 22, 0.85);
    background: rgba(210, 210, 210, 0.2);
}
input[type="submit"], .btn {
    background: #1e5088;
    display: block;
    border: 0;
    border-bottom: 3px solid #1e374f;
    padding: 10px;
    font-size: 16pt;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.btn-small {
    font-size: 13pt;
}
input[type="submit"]:active, .btn:active {
    background: #183f6b;
}
.contacts-list .btn {
    margin: 15px;
}
.btn-green {
    background: #2d881e;
    border-bottom-color: #254f1e;
}
.btn-green:active {
    background: #307226;
}
.btn-red {
    background: #88231e;
    border-bottom-color: #631815;
}
.btn-red:active {
    background: #722626;
}
input[type="text"]:focus, input[type="password"]:focus {
    background: #fff;
}
.btn-clear {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 11pt;
    opacity: 0.8;
}
.btn-clear:hover, .box-dark-open {
    background: rgba(0, 0, 0, 0.4);
}
.contact-search-results {
    display: block;
    padding: 10px;
    cursor: default;
    font-weight: 400;
    font-size: 11pt;
    opacity: 0.8;
}
.box-shape {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}
.box-form {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}
.box-form input {
    display: block;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.box-form label {
    display: block;
    margin: 15px;
}
.box-form span {
    display: block;
    height: 40px;
    line-height: 38px;
    font-weight: 100;
    font-size: 18pt;
    text-shadow: 0 2px 0 rgba(17, 17, 18, 0.7);
    opacity: 0.7;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.needs-logged-in {
    display: none;
}
header a,
header a:link,
header a:visited {
    display: inline-block;
    height: 60px;
    line-height: 40px;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 14pt;
    -webkit-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    width: 100px;
    text-align: center;
}
header a:hover {
    background: rgba(0, 0, 0, 0.3);
}
.main-landing {
    display: none;
}
.contacts-list {
    background: #232629;
    width: 300px;
    bottom: 0;
    top: 60px;
    left: 0;
    position: fixed;
    z-index: -1;
    overflow-y: auto;
}
.user-nav {
    text-align: right;
}
.user-info {
    text-align: left;
    height: 60px;
    line-height: 30px;
    float: left;
    padding: 15px;
    font-weight: bolder;
    font-size: 13pt;
    text-shadow: 0 2px 4px rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.2);
}
.hide {
    display:none;
}
input.contact-search-text {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    background: #fff;
    border-bottom:0;
}
.contact-search-text:focus {
    box-shadow: 0px 0px 12px 5px rgb(20, 80, 136);
}
.add-contact-wrapper {
    position: relative;
}
.contact-item {
    padding-left: 15px;
    opacity: 1;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.2);
}
.close-btn:hover {
    background: rgba(0, 0, 0, 0.4);
}
.close-btn:active {
    background: rgba(0, 0, 0, 0.5);
}
.sep {
    width: 60%;
    margin-left: 20%;
    height: 2px;
    background: rgba(0,0,0,0.1);
    margin-top: 25px;
    margin-bottom: 10px;
}

.contact-header {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: 100;
    font-size: 13pt;
    opacity: 0.6;
    cursor: default;
}
.req-action {
    padding: 15px;
}

.needs-active-chat {
    display: none;
}

.conversation-output {
    top: 70px;
    left: 310px;
    position: fixed;
    background: rgb(255, 255, 255);
    right: 10px;
    bottom: 10px;
    overflow: auto;
}
.conversation-output h1 {
    text-align: center;
    color: rgb(35, 38, 41);
    font-weight: 100;
    font-size: 21pt;
    margin-top: 20px;
    cursor: default;
    text-shadow: 0 1px 1px rgba(28, 31, 33, 0.4);
}
.conversation-output-stream {
    width:100%;
    height:70%;
    display: block;
}
.conversation-text-input {
    border:0;
    width:100%;
    height: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid rgb(35, 38, 41);
    background: rgba(35, 38, 41, 0.2);
    padding: 10px;
    color: black;
}

.msg-text-entry {
    padding:10px;
    color: black;
}

.msg-me {
    text-align:left;
}

.msg-them {
    text-align: right;
}